[submodule "parrot/vendor/spdlog"]
	path = parrot/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "parrot/vendor/GLFW"]
	path = parrot/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "parrot/vendor/imgui"]
	path = parrot/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "parrot/vendor/glm"]
	path = parrot/vendor/glm
	url = https://github.com/Groovounet/glm
[submodule "parrot/vendor/yaml_cpp"]
	path = parrot/vendor/yaml_cpp
	url = https://github.com/jbeder/yaml-cpp
